.managers {
    min-height: 342px;
    text-align: center;
    background: url(../img/bg_managers.jpg) center (center/cover) no-repeat;
    padding: 58px 0 76px 0;
    &__title {
        color: #ffffff;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 700;
        margin-top: 5px;
    }
    &__descr {
        color: #ffffff;
        font-family: Roboto;
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        margin-top: 8px;
    }
}