.schema {
    min-height: 454px;
    padding: 51px 0 46px 0;
    text-align: center;
    background-color: #f3f3f3;
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__item {
        margin-top: 27px;
        width: 254px;
    }
    &__subtitle {
        color: $main-color;
        font-family: "Roboto - Bold";
        font-size: 16px;
        font-weight: 700;
        margin-top: 7px;
    }
    &__descr {
        color: #3a3a3a;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 2px;
    }
}